* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

main {
    width: 90%;
    display: block;
    margin: auto;
}

body {
    background: #e1d3c1;
    padding-top: 20px;
    font-family: sans-serif;
    margin: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
    font-family: Helvetica, "Century Gothic", sans-serif;
    font-weight: 100;
}

h1 {
    margin-bottom: 15px;
}

h2,
label,
p {
    margin-bottom: 10px;
}

label {
    display: block;
}

#drop {
    height: 200px;
    margin: 10px;
    border: 3px dashed gray;
    background-color: #b0c4de;
    text-align: center;
    font-size: 65px;
    line-height: 3;
    color: white;
}

#drop.dropping {
    background-color: #68cb68;
}

#go button {
    padding: 3px;
    width: 40px;
    border-radius: 3px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#options,
#go {
    opacity: 0;
}

#options.on,
#go.on {
    transition: opacity 0.5s ease;
    opacity: 1;
}

#filename {
    color: #004C00;/*#11a533;*/
    font-size: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
}

[id*="labelID"] {
    margin-bottom: 10px;
}

[id*="labelID"] label {
    margin-bottom: 5px;
}

@media (min-width: 800px) {
    main {
        width: 50%;
    }
}

th, tr, td {
    padding: 5px;
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 20px;
}

td:nth-of-type(3) {
    text-align: center;
    vertical-align: middle;
}